<div class="timer-card__entries" *ngIf="entries$ | async as entries">
  <ng-container *ngIf="entries.length > 0; else noEntries">
    <h3>Erfasste Zeitspannen</h3>
    <div class="entries-table">
      <div class="entries-header">
        <div class="entries-cell">Erfasst am</div>
        <div class="entries-cell">Von</div>
        <div class="entries-cell">Bis</div>
      </div>

      <div class="entries-row" *ngFor="let entry of entries">

        <div class="entries-cell entries-date">
          <i class="pi pi-calendar icon-date"></i>
          <span>{{ entry.date }}</span>
        </div>

        <div class="entries-cell entries-time">
          <i class="pi pi-play icon-play"></i>
          <span class="entry-time">{{ entry.start }}</span>
        </div>

        <div class="entries-cell entries-time">
          <i class="pi pi-stop icon-stop"></i>
          <span class="entry-time">{{ entry.end }}</span>
        </div>

      </div>
    </div>
  </ng-container>
  <ng-template #noEntries>
    <p class="timer-card__no-entries">Noch keine Einträge erfasst.</p>
  </ng-template>
</div>