.timer-root {
  display: flex;
  align-items: center;
  justify-content: center;
}

// card
.timer-card {
  background-color: rgb(160 206 228 / 93%);
  border-radius: 2rem;
  padding: 2.7rem 2rem 2.3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  transition: box-shadow 0.18s, transform 0.16s;
  backdrop-filter: blur(6px);
  margin: 0 auto;
}

// timer container
.timer-header {
  background-color: white;
  padding: 1.1rem 2.1rem;
  border-radius: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.2rem;
}

// timer icon
.timer-icon {
  font-size: 2.4rem;
  color: #9a8c98;
  margin-right: 1rem;
  opacity: 0.83;
  filter: drop-shadow(0 1px 1px #fff);
}

// timer time
.timer-time {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 1.4px;
  color: #22223b;
  text-shadow: 0 2px 8px #f6f2ff;
  font-variant-numeric: tabular-nums;
}

// timer button
.timer-btn {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.23rem;
  font-weight: 600;
  padding: 1.1rem 2.1rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  color: #fff;
  transition: transform 0.13s;

  &:hover {
    transform: scale(1.10);
  }
}

// time button icon
.timer-btn-icon {
  width: 28px;
  height: 28px;
  margin-right: 0.5em;
}

// if timer stoped
.timer-btn--start {
  background: linear-gradient(90deg, #4a4e69 80%, #9a8c98 120%);
}

// if timer started
.timer-btn--stop {
  background: linear-gradient(90deg, #c9184a 83%, #4a4e69 120%);
}