<div class="timer-card__entries" *ngIf="entries$ | async as entries">
  <ng-container *ngIf="entries.length > 0; else noEntries">
    <h3>Erfasste Zeitspannen</h3>
    <ul>
      <li *ngFor="let entry of entries">
        <span class="material-symbols-outlined">event</span>
        <strong>{{ entry.date }}</strong>:
        <span class="material-symbols-outlined">play_arrow</span> {{ entry.start }}
        &nbsp;
        <span class="material-symbols-outlined">stop</span> {{ entry.end }}
      </li>
    </ul>
  </ng-container>
  <ng-template #noEntries>
    <p style="color: #bbb; font-style: italic; margin-top: 1rem;">Noch keine Einträge erfasst.</p>
  </ng-template>
</div>
